*{
    margin:0;
    padding:0;
}

body{
     font-family: "Ubuntu Mono"; 
    font-size: 200%;
    margin-top: 2%;
    margin-left: 2%;
}

header, main, footer, nav, aside, section, div{
    display: block;
}

#boxes section{
    height: 40px ;
    width: 40px;
    background-color: #000000;
    margin: 10px;
    float: left;
}

@media only screen and (max-width: 768px){
    .btn-outline-success {
        background-color: #198754;
        color: #ffffff;
    }
    .btn-outline-success:hover {
        background-color:#ffffff;
        color: #198754;
        border-color:#198754;
    }
    button:nth-child(even){
        background-color: #000000;
        color: #ffffff;
    }
}